input[type="file"]::file-selector-button {
  border: 2px solid #048378; /* your theme color */
  border-radius: 6px;
  padding: 6px 12px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.4s ease;
}

input[type="file"]::file-selector-button:hover {
  background-color: #a4dbc000;
  
}
