.react-tabs__tab--selected {
  background-color: #01998C; /* blue-600 to purple-600 */
  color: white;
  border: none;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  
}